In [3]:
studentfile = open("students.csv", "r")
for line in studentfile.readlines():
    line = line.rstrip()
   # print("the current record is", line)
    name, age = line.split(',')
    
   # print("Name:", name, "    Age:", age)

In [4]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [7]:
%sql drop database students

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [8]:
%sql CREATE DATABASE students
%sql USE students

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [10]:
%sql CREATE TABLE students(name VARCHAR(20) NOT NULL, age INTEGER NOT NULL);

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [ ]:
import pymysql.cursors
import re 
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='students',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

def fun(db,name, age):
    name=str(name)
    if age <100:

el paso la coenciion de la database como parametro para su funcion
funciones que retornes booleano geniales

creo una funcion donde me convierte name y age en string
tambien la funcion llena la base de datos
pregunta si se puede o no